body {
    margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
p {
    margin: 0px;
}



.landing-page-container {
}
.logistico-container {
    padding: 17px 0px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
}
.logistico-information {
    display: flex;
    flex-direction: row;
}
.main-logistico-information {
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.envelope {
    color: #FF3414;
    text-decoration: none;
}
.logistico-information span {
    color: #919191;
    margin-left: 5px;
}
.primary-btn {
    border: 1px solid #ff2200;
    padding: 15px 31px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    transition: 0.5s;
    margin-left: 50px;
    display: flex;
    align-items: center;
}
/* .primary-btn a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    color: #FF3414;
} */
.primary-btn:hover {
    cursor: pointer;
    background-color: #FF3414;
    color: white;
}
@media (max-width: 990px) {
    .logistico-information {
        display: none;
    }
}

.landing-page-links {
    border: 1px solid #919191;
    white-space: nowrap;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    position: sticky;
    top: 0px;
}
.landing-page-links a {
    color: #596672;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
    margin-right: 30px;
}
.landing-page-links a:hover {
    cursor: pointer;
    color: #FF3414;
}
.landing-page-links strong {
    padding: 10px;
    font-size: 20px;
    background-color: #FF3414;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.landing-page-links strong:hover {
    cursor: pointer;
    background-color: #ec3114;
}

.landing-page-links-sm {
    background-color: #444;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}
.landing-page-links-sm a {
    font-size: 20px;
    text-decoration: none;
    background-color: #222;
    padding: 8px;
    border-radius: 6px;
    color: white;
}
.landing-page-links-sm span {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}
.search {
    background-color: #FF3414;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 660px) {
    .landing-page-links-sm {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .landing-page-links {
        display: none;
    }
}

.landing-page-image-container {
    background-image: url('/images/banner.png');
    height: 700px;
}
.landing-page-image-container-layer {
    background-color: rgba(0, 0, 0, 0.39);
    height: 100%;
}
.landing-page-image-content-container {
    padding: 200px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing-page-image-header {
    font-size: 0px;
    color: white;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.landing-page-image-text {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    text-transform: capitalize;
    letter-spacing: 0;
    text-align: center;
    line-height: 70px;
    margin-bottom: 30px;
    color: white;
}
.landing-page-image-content-container .primary-btn {
    background-color: #FF3414;
    transition: 0.4s;
    color: white;
    text-align: center;
}
.landing-page-image-content-container .primary-btn:hover {
    color: #FF3414;
    background-color: transparent;
}
@media (max-width: 760px) {
    .landing-page-image-text {
        font-size: 40px;
    }
}



.Transport-container {
    margin-top: 120px;
}
.main-Transport {
    display: flex;
    justify-content: center;
}
.Transport-pt1 {
    margin-bottom: 10px;
}
.Transport-pt2 {
    text-transform: capitalize;
    color: #001D38;
    font-size: 25px;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
}
.Transport-pt3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #919191;
    font-family: "Poppins", sans-serif;
}
.Transport.ed {
    margin-left: 100px;
    margin-right: 100px;
}
    .Transport:hover .Transport-pt2 {
        color: #ff2200;
    }

@media (max-width: 1044px) {
    .Transport.ed {
        margin-left: 70px;
        margin-right: 70px;
    }
}
@media (max-width: 977px) {
    .Transport.ed {
        margin-left: 40px;
        margin-right: 40px;
    }
}
@media (max-width: 616px) {
    .Transport.ed {
        padding-top: 20px;
    }
}
@media (max-width: 911px) {
    .main-Transport {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 896px) {
    .Transport.pr {
        margin: 20px 0px;
    }
}



.services-container {
    background-color: #F5FBFF;
    padding: 120px 0px;
    margin-top: 100px;
}
.title {
    font-size: 46px;
    font-weight: 400;
    line-height: 52px;
    color: #001D38;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    text-align: center;
}
.main-services-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.services-image-layer {
    background-image: url('/images/2.png');
    height: 260px;
}
.main-services.ed1 {
    margin-left: 30px;
    margin-right: 30px;
}
.services-image-layer.ed2 {
    background-image: url('/images/3.png');
}
.main-services.pr {
    margin: 0px 100px;
}
.main-services.pr3 {
    margin-right: 30px;
    margin-left: 30px;
}
.services-image-layer.ed3 {
    background-image: url('/images/1.png');
}
.main-services-image-layer {
    background-color: #ff22002f;
    height: 100%;
    display: none;
}
.services-image-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #ff2200;
    font-size: 20px;
    transition: 0.4s;
    background-color: white;
    position: relative;
    bottom: 80px;
    left: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-image-icon:hover {
    cursor: pointer;
    background-color: #FF3414;
    color: white;
}
.services-image-text1 {
    color: #001D38;
    font-size: 25px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    margin-top: -30px;
    margin-bottom: 6px;
    transition: 0.3s;
}
.services-image-text2 {
    color: #919191;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
}
.main-services:hover .services-image-text1 {
    cursor: pointer;
    color: #ff2200;
    text-decoration: underline;
}
.main-services:hover .main-services-image-layer {
    display: block;
}

@media (max-width: 1356px) {
    .main-services.pr {
        margin: 0px 70px;
    }
}
@media (max-width: 1292px) {
    .main-services.pr {
        margin: 0px 40px;
    }
}
@media (max-width: 1244px) {
    .main-services-container {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 1236px) {
    .main-services.pr3 {
        margin-top: 30px;
    }
}
@media (max-width: 842px) {
    .main-services.pr {
        margin-top: 30px;
    }
}



.secure-container {
    /* padding: 138px 0px; */
    background-image: url('/images/contact_bg.png');
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}
.image-layer {
    background-color: #001d38af;
    height: 100%;
    padding: 140px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.secure-header {
    font-size: 46px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
}
.secure-text {
    color: #EAEAEA;
    font-size: 18px;
    margin-top: 10px;
    line-height: 28px;
    letter-spacing: 2px;
}
.secondary-btn {
    height: 35px;
    font-size: 30px;
    padding: 20px 50px;
    border-radius: 50px;
    background-color: #FF3414;
    color: white;
    transition: 0.3s;
    white-space: nowrap;
}
.secondary-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}
@media (max-width: 1079px) {
    .image-layer {
        display: flex;
        flex-wrap: wrap;
    }
    .secondary-btn {
        margin-top: 30px;
    }
    .secure-text {
        text-align: center;
    }
    .secure-header {
        text-align: center;
    }
}


.choose-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.choose-image {
    background-color: #FF3414;
    margin-left: 40px;
}
.main-choose-image {
    position: relative;
    bottom: 18px;
    right: 25px;
}
.choose-text-container {
    margin-left: 70px;
    padding-top: 80px;
    margin-right: 40px;
}
.choose-text-container .title {
    color: #596672;
}
.text-pt1 {
    font-size: 20px;
    color: #919191;
    margin-top: 20px;
}
.text-pt2 {
    margin-top: 20px;
}
.text-pt2 span {
    font-size: 17px;
    color: #444;
    margin-left: 7px;
}
.choose-text-container .primary-btn {
    width: 75px;
    margin-top: 40px;
    margin-left: 0px;
}

@media (max-width: 1144px) {
    .choose-text-container {
        margin-left: 40px;
    }
}
@media (max-width: 1203px) {
    .choose-container {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 1121px) {
    .choose-text-container {
        margin-top: -30px;
    }
}



.number-container {
    margin-top: 150px;
}
.main-number-container {
    background-color: #001D38;
    padding: 50px 0px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.main-number {
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-number p {
    font-size: 60px;
    color: #FF3414;

}
.main-number strong {
    font-size: 20px;
    color: #919191;
    text-transform: capitalize;
}
@media (max-width: 780px) {
    .main-number-container {
        display: flex;
        flex-wrap: wrap;
    }
}


.owner-container {
    margin-top: 200px;
    background-image: url('/images/testmonial.png');
    height: 700px;
}
.owner-text-container {
    width: 500px;
    background-color: white;
    text-align: center;
    padding: 50px;
    border-radius: 0px 0px 10px 10px;
    margin-left: 300px;
    margin-top: 120px;
}
.owner-text {
    font-size: 22px;
    margin-top: 20px;
    line-height: 35px;
}
.owner-image {
    text-transform: capitalize;
    margin-top: 20px;
}
.owner-image p {
    margin-top: 10px;
}
.main-owner-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.scrol-icon {
    margin-top: 20px;
}
.main-scrol-icon {
    text-decoration: none;
    color: #f37966;
    font-size: 18px;
}
.main-scrol-icon.ed {
    color: #FF3414;
    margin: 0px 5px;
}
.main-scrol-icon.ed:hover {
    color: #f37966;
}
.main-scrol-icon:hover {
    color: #FF3414;
}

.owner-text-container-sm {
    margin-top: 100px;
    background-color: #032749;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    display: none;
}
.own {
    text-align: center;
    padding: 30px;
    border-radius: 0px 0px 10px 10px;
    color: white;
    background-color: #001D38;
}
@media (max-width: 1483px) {
    .owner-text-container-sm {
        display: block;
    }
    .owner-container {
        display: none;
    }
}



.message-area-container {
    background-image: url('/images/Estimate_bg.png');
    height: 600px;
    display: flex;
    justify-content: center;
}
.message-area-container::after {
    content: "";
    background-color: #001d38dc;
    position: absolute;
    width: 100%;
    height: 64%;
    z-index: 20;
}
.message-area-text-container {
    position: absolute;
    z-index: 50;
}
.message-area-text-header {
    font-size: 40px;
    text-transform: capitalize;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.message-area-text {
    font-size: 22px;
    color: #c0bfbf;
    line-height: 30px;
    margin-top: 30px;
}
.message-area-text-container .secondary-btn {
    width: 160px;
    padding: 0px;
    padding: 2px 10px;
    font-size: 22px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.message-area-text-container .secondary-btn:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.message-area-input-container {
    z-index: 50;
    padding-top: 100px;
}

.message-area-input-container .secondary-btn {
    width: 160px;
    padding: 0px;
    padding: 2px 10px;
    font-size: 22px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.message-area-input-container .secondary-btn:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.message-area-input2-container {
    z-index: 50;
    margin-left: 50px;
    padding-top: 100px;
    /* display: flex;
    flex-direction: row; */
}
.message-area-input2-in {
    display: flex;
    flex-direction: row;
}
.input-box {
    margin-right: 10px;
}
.message-area-input2-in input {
    background-color: transparent;
    width: 350px;
    padding: 10px;
    font-size: 18px;
    color: #c0bfbf;
    border: 1px solid #c0bfbf;
    border-radius: 5px;

}
.message-area-input2-in p {
    margin-top: 20px;
    margin-right: 20px;
}
.message-area-input2-in span {
    z-index: 50;
}

.textarea-container {
    margin-top: 10px;
}
.textarea-container textarea {
    width: 92%;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: transparent;
    border: 1px solid #c0bfbf;
    border-radius: 6px;
}
.third-btn {
    border: 1px solid #FF3414;
    width: 95%;
    font-size: 18px;
    text-transform: capitalize;
    color: #FF3414;
    text-align: center;
    padding: 10px 0px;
    transition: 0.3s;
    border-radius: 6px;
    margin-top: 10px;
}
.third-btn:hover {
    cursor: pointer;
    background-color: #FF3414;
    color: white;
}

@media (max-width: 1255px) {
    .message-area-input2-in {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .message-area-input2-container {
        margin-top: -50px;
    }
}
@media (max-width: 1281px) {
    .message-area-input-container {
        margin-left: 30px;
    }

}
@media (max-width: 652px) {
    .message-area-input2-container {
        padding-top: 40px;
    }
    .message-area-container::after {
        height: 600px;
    }
}
@media (max-width: 633px) {
    .message-area-input2-container {
        padding-top: 20px;
    }
}
@media (max-width: 690px) {
    .message-area-input2-container {
        padding-top: 70px;
    }
}
@media (max-width: 465px) {
    .message-area-input2-container {
        padding-top: 30px;
    }
}
@media (max-width: 680px) {
    .message-area-input-container {
        display: none;
    }
}
@media (max-width: 1280px) {
    .message-area-container {
        background-image: url('/images/Estimate_bg.png');
        height: 500px;
    }
}



.footer-container {
    padding: 100px 0px;
    background-color: #F5FBFF;
    margin-top: 200px;
}
.logistic-footer-container {
    display: flex;
    justify-content: center;
}
.logistic-logo-footer {
    width: 50%;
    text-align: center;
}
.social-icon {
    text-align: center;
    margin-top: 20px;
}
.social-icon a {
    font-size: 30px;
    color: blue;
    text-decoration: none;
    margin-left: 20px;
}
.social-icon .ed1 {
    color: red;
}
.social-icon .ed2 {
    color: rgb(64, 64, 216);
}
.location-container {
    width: 420px;
    display: flex;
}
.main-location {
    white-space: nowrap;
}
.main-location span {
    font-size: 30px;
}
.ed p {
    font-size: 17px;
    color: #a09c9c;
    line-height: 25px;
}
.main-location.ed {
    margin-left: 50px;
    margin-right: 50px;
}
.main-location.ed span {
    color: black;
}
@media (max-width: 871px) {
    .logistic-footer-container {
        display: flex;
        flex-wrap: wrap;
    }
    .location-container {
        margin-top: 30px;
    }
}
@media (max-width: 440px) {
    .main-location.ed {
        margin-left: 30px;
    }
    .location-container.ed1 {
        margin-left: 20px;
    } 
}
@media (max-width: 417px) {
    .main-location.ed {
        margin-left: 10px;
    }
    .location-container.ed1 {
        margin-left: 40px;
    } 
}
@media (max-width: 399px) {
    .location-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-location.ed {
        margin-top: 20px;
    }
    .location-container .pr1 {
        margin-left: -45px;
    }
}

.footer-middle-container {
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.header-middle-container {
    margin-right: 50px;
    margin-left: 50px;
}
.middle-header p {
    font-size: 35px;
}
.middle-text {
    margin-top: 20px;
}
.middle-text a {
    text-decoration: none;
    font-size: 23px;
    color: #919191;
    text-transform: capitalize;
}
.middle-text a:hover {
    cursor: pointer;
    color: #636262;
}
.header-middle-container input {
    font-size: 20px;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 50px;
    width: 350px;
}
.header-middle-container span {
    position: relative;
    right: 112px;
    font-size: 18px;
    text-transform: capitalize;
    padding: 8px 15px;
    background-color: #FF3414;
    border-radius: 50px;
    color: white;
    transition: 0.3s;
}
.header-middle-container span:hover {
    cursor: pointer;
    background-color: #be270f;
}
.middle-text p {
    font-size: 20px;
    color: #969393;
}

@media (max-width: 1370px) {
    .header-middle-container {
    margin-right: 20px;
    margin-left: 20px;
}
}
@media (max-width: 1129px) {
    .footer-middle-container {
        display: flex;
        flex-wrap: wrap;
    }
    .header-middle-container.ed4 {
        margin-top: 20px;
        text-align: center;
    }
}
@media (max-width: 618px) {
    .header-middle-container.ed3 {
        margin-top: 20px;
    }
}
@media (max-width: 415px) {
    .header-middle-container.ed2 {
        margin-top: 20px;
    }
}
@media (max-width: 533px) {
    .header-middle-container span {
        position: relative;
        left: 130px;
        bottom: 34px;
    }
}

.footer-line {
    border: 1px solid #e2dfdf;
    margin-top: 100px;
    width: 77%;
    margin-left: 10%;
}
.footer-conclude {
    font-size: 20px;
    text-align: center;
    color: #4b4949;
    margin: 50px 0px;
}
.footer-conclude span {
    color: #FF3414;
}