body {
    margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
p {
    margin: 0px;
}



.landing-page-container {
}
.logistico-container {
    padding: 17px 0px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
}
.logistico-information {
    display: flex;
    flex-direction: row;
}
.main-logistico-information {
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.envelope {
    color: #FF3414;
    text-decoration: none;
}
.logistico-information span {
    color: #919191;
    margin-left: 5px;
}
.primary-btn {
    border: 1px solid #ff2200;
    padding: 15px 31px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    transition: 0.5s;
    margin-left: 50px;
    display: flex;
    align-items: center;
}
/* .primary-btn a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    color: #FF3414;
} */
.primary-btn:hover {
    cursor: pointer;
    background-color: #FF3414;
    color: white;
}
@media (max-width: 990px) {
    .logistico-information {
        display: none;
    }
}

.landing-page-links {
    border: 1px solid #919191;
    white-space: nowrap;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    position: sticky;
    top: 0px;
}
.landing-page-links a {
    color: #596672;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
    margin-right: 30px;
}
.landing-page-links a:hover {
    cursor: pointer;
    color: #FF3414;
}
.landing-page-links strong {
    padding: 10px;
    font-size: 20px;
    background-color: #FF3414;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.landing-page-links strong:hover {
    cursor: pointer;
    background-color: #ec3114;
}

.landing-page-links-sm {
    background-color: #444;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}
.landing-page-links-sm a {
    font-size: 20px;
    text-decoration: none;
    background-color: #222;
    padding: 8px;
    border-radius: 6px;
    color: white;
}
.landing-page-links-sm span {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}
.search {
    background-color: #FF3414;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 660px) {
    .landing-page-links-sm {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .landing-page-links {
        display: none;
    }
}

.landing-page-image-container {
    background-image: url('/images/banner.png');
    height: 700px;
}
.landing-page-image-container-layer {
    background-color: rgba(0, 0, 0, 0.39);
    height: 100%;
}
.landing-page-image-content-container {
    padding: 200px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing-page-image-header {
    font-size: 0px;
    color: white;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.landing-page-image-text {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    text-transform: capitalize;
    letter-spacing: 0;
    text-align: center;
    line-height: 70px;
    margin-bottom: 30px;
    color: white;
}
.landing-page-image-content-container .primary-btn {
    background-color: #FF3414;
    transition: 0.4s;
    color: white;
    text-align: center;
}
.landing-page-image-content-container .primary-btn:hover {
    color: #FF3414;
    background-color: transparent;
}
@media (max-width: 760px) {
    .landing-page-image-text {
        font-size: 40px;
    }
}



.Transport-container {
    margin-top: 120px;
}
.main-Transport {
    display: flex;
    justify-content: center;
}
.Transport-pt1 {
    margin-bottom: 10px;
}
.Transport-pt2 {
    text-transform: capitalize;
    color: #001D38;
    font-size: 25px;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
}
.Transport-pt3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #919191;
    font-family: "Poppins", sans-serif;
}
.Transport.ed {
    margin-left: 100px;
    margin-right: 100px;
}
.Transport:hover {
    .Transport-pt2 {
        color: #ff2200;
    }
}

@media (max-width: 1044px) {
    .Transport.ed {
        margin-left: 70px;
        margin-right: 70px;
    }
}
@media (max-width: 977px) {
    .Transport.ed {
        margin-left: 40px;
        margin-right: 40px;
    }
}
@media (max-width: 616px) {
    .Transport.ed {
        padding-top: 20px;
    }
}
@media (max-width: 911px) {
    .main-Transport {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 896px) {
    .Transport.pr {
        margin: 20px 0px;
    }
}



.services-container {
    background-color: #F5FBFF;
    padding: 120px 0px;
    margin-top: 100px;
}
.title {
    font-size: 46px;
    font-weight: 400;
    line-height: 52px;
    color: #001D38;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    text-align: center;
}
.main-services-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.services-image-layer {
    background-image: url('/images/2.png');
    height: 260px;
}
.main-services.ed1 {
    margin-left: 30px;
    margin-right: 30px;
}
.services-image-layer.ed2 {
    background-image: url('/images/3.png');
}
.main-services.pr {
    margin: 0px 100px;
}
.main-services.pr3 {
    margin-right: 30px;
    margin-left: 30px;
}
.services-image-layer.ed3 {
    background-image: url('/images/1.png');
}
.main-services-image-layer {
    background-color: #ff22002f;
    height: 100%;
    display: none;
}
.services-image-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #ff2200;
    font-size: 20px;
    transition: 0.4s;
    background-color: white;
    position: relative;
    bottom: 80px;
    left: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-image-icon:hover {
    cursor: pointer;
    background-color: #FF3414;
    color: white;
}
.services-image-text1 {
    color: #001D38;
    font-size: 25px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    margin-top: -30px;
    margin-bottom: 6px;
    transition: 0.3s;
}
.services-image-text2 {
    color: #919191;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
}
.main-services:hover .services-image-text1 {
    cursor: pointer;
    color: #ff2200;
    text-decoration: underline;
}
.main-services:hover .main-services-image-layer {
    display: block;
}

@media (max-width: 1356px) {
    .main-services.pr {
        margin: 0px 70px;
    }
}
@media (max-width: 1292px) {
    .main-services.pr {
        margin: 0px 40px;
    }
}
@media (max-width: 1244px) {
    .main-services-container {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 1236px) {
    .main-services.pr3 {
        margin-top: 30px;
    }
}
@media (max-width: 842px) {
    .main-services.pr {
        margin-top: 30px;
    }
}



.secure-container {
    /* padding: 138px 0px; */
    background-image: url('/images/contact_bg.png');
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}
.image-layer {
    background-color: #001d38af;
    height: 100%;
    padding: 140px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.secure-header {
    font-size: 46px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
}
.secure-text {
    color: #EAEAEA;
    font-size: 18px;
    margin-top: 10px;
    line-height: 28px;
    letter-spacing: 2px;
}
.secondary-btn {
    height: 35px;
    font-size: 30px;
    padding: 20px 50px;
    border-radius: 50px;
    background-color: #FF3414;
    color: white;
    transition: 0.3s;
}
.secondary-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

